advent-of-code-data==0.8.3
beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
idna==2.8
Pebble==4.4.0
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
termcolor==1.1.0
urllib3==1.25.7
